__pycache__/
*.dat
*.data
*.gz
**/*.gz
*/dump
*.log
.*.swp
*.vim

old_files/
**/*old*/
last

!*/best_parameters.dat
!04_hyperparam_optim/d_ocsvm_rbf/model_score/score*
!04_hyperparam_optim/**/scores*.dat
